body {
    padding-top: 50px;
}
#info {
    padding-top: 50px;
}


circle{
  stroke-width: 2px;
  stroke:rgb(198, 127, 43)
}

.link {
  fill: none;
  stroke-width:1;
  stroke:rgb(99, 99, 99);
  font-family: Arial, Helvetica, sans-serif
}
text{
  font-family: Arial, Helvetica, sans-serif
}
